body {
  padding: 0;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  /* background-color: green; */
  min-height: 100vh;
}
.tugas1 {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
}
.kotak {
  margin: 20px;
  width: 100px;
  height: 100px;
  background: red;
  display: flex;
  cursor: pointer;
}
.kotak p {
  margin: 0 auto;
  margin-bottom: -25px;
  align-self: flex-end;
}
.tugas2 {
  margin-top: 20px;
}

h1 {
  text-align: center;
}
h4 {
  margin-bottom: -10px;
}
.flip {
  cursor: pointer;
}
.flip,
.panel {
  width: 65%;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  background: lavender;
  border: 2px solid blue;
  border-radius: 5px;
}
.panel {
  text-align: justify;
  display: none;
}
.panel:nth-last-child(1) {
  margin-bottom: 30px;
}
